<details>
  <summary>Shopping Cart</summary>
  <ul>
    <% if @cart.count > 0 %>
      <% @cart.each do |id, qty|%>
      <% product = Product.find(id)%>
        <li>
          <%= product.name %>
          <%= product.price %>$
        | <%= link_to 'Remove Item', remove_from_cart_path(id), method: :delete %> |
          <%= link_to '-', decrement_qty_path(id), method: :post %>
          <%= qty%>
          <%= link_to '+', increment_qty_path(id), method: :post %>
        </li>
      <% end %>
      <li><%= button_to 'Checkout', checkout_create_path, method: :post, remote: true %></li>
    <% else %>
    <li>Your cart is empty</li>
    <% end %>
  </ul>
</details>