<div class="card">
  <% if product.image.present? %>
    <div class="card-image">
      <figure class="image is-square">
        <%= image_tag(product.image, alt: product.name)%>
      </figure>
    </div>
  <% end %>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><%= product.name %></p>
        <p class="subtitle is-6"><%= product.price.round(2) %>$</p>
      </div>
      <% if product_page %>
        <% if @cart.keys.to_s.include?(product.id.to_s) %>
          <%= link_to 'Remove from Cart', remove_from_cart_path(product.id), { :method => :delete, :class => 'button is-light' }%>
        <% else %>
          <%= link_to 'Add to Cart', add_to_cart_path(product.id), { :method => :post, :class => 'button is-link' }%>
        <% end %>
      <%end%>
    </div>
    <% if product_page %>
      <div class="content">
        <%= product.description %>
      </div>
    <% end %>
  </div>
</div>